.container {
  border: 2px solid #d3d3d3;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
  padding: 1em;
  text-align: left;
}

.form {
  padding: 2em;
}

label {
  font-weight: 600;
}

.error {
  color: red;
}

.success {
  color: green;
}
